<main>
  <div class="discussion-container">
    <h1>Discussion</h1>
    <!--Comments Update-->
    <div class="add-discussion">
      <img class="rounded-circle" src="./images/rob.png">
      <input type="text" class="input-textbox" placeholder="What are your thoughts?">
      <button class="comment-button" type="submit">Comment</button>
    </div>
  </div>
  <hr />
  <!--End of Comment Update-->
  <!--Comments-->
  <div id="start">
    <div class="comment-block">
      <img class="rounded-circle" src="./images/rob.png">
      <div class="comment-body">
        <a class="user-name">Rob Hope</a>
        <span class="dot"></span>
        <span class="post-time">45 minutes ago</span>
        <p class="comment">You are going to lose
          all comments because this is just a dummy representation. You will not be able to click the Up arrow to Upvote
          the current
          comments in this discussion app, However if you type your thoughts in the input above and click the
          comment button you will be able to create a comment and upvote.
        </p>
        <div class="social-interact">
          <span class="material-icons-sharp">
            arrow_drop_up
          </span>Upvote</span><span class="reply"> Reply </span>
        </div>
      </div>
    </div>
    <ul class="comments-list">
      <li>
        <div class="comment-block">
          <img class="rounded-circle" src="./images/sophie.png">
          <div class="comment-body">
            <a class="user-name">Sophie Brecht</a>
            <span class="dot"></span>
            <span class="post-time">Yesterday</span>
            <p class="comment">You'll be intrigued with the user
              experience. :) The Fun part is you can actually open serveral links and observe realtime interaction on
              this app. It is simple and "easy like Sunday Morning". when you log off, we will cast a spell "Evanesco"
              and poof!!! your data will be gone.
            </p>
            <div class="social-interact">
              <span class="material-icons-sharp">
                arrow_drop_up
              </span>Upvote</span><span class="reply"> Reply </span>
            </div>
          </div>
        </div>
        <ul class="comments-list reply-list">
          <li>
            <div class="comment-block">
              <img class="rounded-circle" src="./images/james.png">
              <div class="comment-body">
                <a class="user-name">James</a>
                <span class="dot"></span>
                <span class="post-time">2 hours ago</span>
                <p class="comment">Thanks For being here! If you have any questions or if you would like to work with
                  Sammy, kindly contact info@sayakrasi.com or visit www.sayakrasi.com and you will receive a reply
                  within the next hour. Post are capped to a max of 10.
                </p>
                <div class="social-interact">
                  <span class="material-icons-sharp">
                    arrow_drop_up
                  </span>Upvote(2023)</span><span class="reply"> Reply </span>
                </div>
              </div>
            </div>
          </li>
        </ul>
  </div>
  <!--End of Comments-->

</main>